@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);

body {
	margin: 0;	
	background: #bdc3c7;
	font-family: 'Rubik', sans-serif;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
}

.container {
	margin: 0 auto;
	width: 700px;
	max-width: 700px;
	background-color: #FFF;
}

header {
	padding: 30px;
	background-image: url(https://images.pexels.com/photos/52533/orange-fruit-vitamins-healthy-eating-52533.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

header h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 48px;
}

header h1, 
header p {
	color: 	#2d3436;
	text-align: center;	
}

section {
    padding: 0 20%;
}

.about h2 {
	color: #f39c12;	
	margin-top: 60px;
	font-size: 28px;
}

.interests h2 {
	color: #2980b9;	
	margin-top: 40px;
}

footer {
	margin-top: 60px;
	padding: 30px;
	background: #2d3436;
}

footer p {
	color: #bdc3c7;
	text-align: center;
}

footer a {
	color: #f39c12;
	font-weight: bold;
	text-decoration: none;
}